body {
    background-color: #EFF3F7;
}

#app {
    display: flex;
    padding: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.movieDiv {
    background-color: white;
    width:40%;
    margin-bottom: 50px;
    padding: 0 20px;
    box-shadow: 0 8px 38px hsla(0,0%,52.2%,.3), 0 5px 12px hsla(0,0%,52.2%,.22);
    display: flex;
    align-content: flex-start;
}

.imgDiv {
    width: 30%;
}

.imgDiv > img {
    max-width: 100%;
    position: relative;
    top: -5%;
    box-shadow: -10px 19px 38px rgba(83,83,83,.3), 10px 15px 12px rgba(80,80,80,.22);
}

.contentDiv{
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    overflow: hidden;
    width:60%;
    margin: 20px 0px;
    position: relative;
    left: 10%;
}

.contentDiv > div:nth-child(1) {
    padding: 20px 0px 0px 0px;
    font-size: 20px;
    font-weight: 600;
}

.contentDiv > div:nth-child(2) {
    color: #bfbfbf;
    padding: 20px 0px 0px 0px;
    font-size: 14px;
}

.contentDiv > div:nth-child(2) span {
    display: inline-block;
    padding-right: 10px;
}

.contentDiv > div:nth-child(3) {
    color: #bfbfbf;
    display: block;
    padding: 20px 0px 0px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

@media screen and (min-width: 320px) and (max-width: 667px) {
    .movieDiv {
      width: 100%;
    }
}
  
@media screen and (min-width: 320px) and (max-width: 667px) and (orientation: portrait) {
    .movieDiv {
        width: 100%;
        flex-direction: column;
    }

    .imgDiv{
        margin: 0 auto;
        width: 100%;
    }

    .imgDiv > img {
        top: -3%;
        left: 0;
    }
    .contentDiv {
        width: 100% !important;
        left: 0%;
    }
}
