body {
    background-color: #EFF3F7;
}


p{
    margin: 0;
    padding: 0;
}

hr {
    height: 2px;
    background-color: #c9c9c9;
    border: none;
}

#app {
    display: flex;
    padding: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.loading {
    display: none;
}

.movieDiv {
    background-color: white;
    width:40%;
    margin-bottom: 50px;
    padding: 0 20px;
    box-shadow: 0 8px 38px hsla(0,0%,52.2%,.3), 0 5px 12px hsla(0,0%,52.2%,.22);
    display: flex;
    align-content: flex-start;
}

.imgDiv {
    width: 30%;
}

.imgDiv > img {
    max-width: 100%;
    position: relative;
    top: -5%;
    box-shadow: -10px 19px 38px rgba(83,83,83,.3), 10px 15px 12px rgba(80,80,80,.22);
}

.contentDiv{
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    overflow: hidden;
    width:60%;
    margin: 20px 0px;
    position: relative;
    left: 10%;
}

.contentDiv > div:nth-child(1) {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

.contentDiv > div:nth-child(2) {
    color: #bfbfbf;
    padding-top: 20px;
    font-size: 14px;
}

.contentDiv > div:nth-child(2) span {
    display: inline-block;
    padding-right: 10px;
}

.contentDiv > div:nth-child(3) {
    color: #bfbfbf;
    display: block;
    padding-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.contentDiv > div:nth-child(4) {
    padding-top:20px;
}

.contentDiv > div:nth-child(4) button {
    padding: 5px 20px;
    border: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal__overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
}

.modal__content {
    background-color: white;
    padding: 50px 50px;
    text-align: left;
    position: relative;
    margin: 10px auto;
    border-radius: 10px;
    width: 40%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    align-content: flex-start;
    font-family: 'Roboto', sans-serif;
}

.modal__column1{
    width: 30%;
    display: block;
}

.modal__column1 > img {
    max-width: 100%;
}

.modal__column1 button {
    width: 100%;
    padding: 10px 0px;
    margin-top:10px;
    border:none;
}

.modal__column2{
    width: 70%;
    margin-left:30px;
}

.modal__column2 > div {
    margin-bottom: 30px;
}

.modal__column2 > div:nth-child(4) {
    height: 200px;
    margin-bottom: 30px;
    overflow: auto;
    text-overflow: ellipsis;
}

.modal__column2 button {
    width: 100%;
    padding: 10px 0px;
    margin-top:10px;
    border:none;
}

.modal__mainhead{
    font-size: 30px;
    font-weight: 600;
}

.modal__head{
    font-weight: 600;
    font-size: 20px;
}


@media screen and (min-width: 667px) and (max-width: 815px) {
    .movieDiv {
      width: 100%;
    }

    .modal {
        overflow: scroll;
    }

    .modal__content{
        width: 100%;
        flex-direction: column;
        margin: 0;
        padding:0;
    }

    .modal__column1 {
        width:70%;
        margin:0 auto;
    }

    .modal__column1 img {
        display: block;
    }

    .modal__column1 button {
        display: block;
    }
    
    .modal__column2 {
        margin:0 auto;
    }

    .modal__column2 > div:nth-child(1) {
        margin-top: 20px;
    }
}
  
@media screen and (min-width: 320px) and (max-width: 667px) and (orientation: portrait) {
    .movieDiv {
        width: 100%;
        flex-direction: column;
    }

    .imgDiv{
        margin: 0 auto;
        width: 100%;
    }

    .imgDiv > img {
        top: -3%;
        left: 0;
    }
    .contentDiv {
        width: 100% !important;
        left: 0%;
    }
    .modal {
        overflow: scroll;
    }
    .modal__content{
        width: 100%;
        flex-direction: column;
        margin: 0;
        padding:0;
    }
    .modal__column1 {
        width:70%;
        margin:0 auto;
    }
    .modal__column1 img {
        display: block;
    }
    .modal__column1 button {
        display: block;
    }
    .modal__column2 {
        margin:0 auto;
    }

    .modal__column2 > div:nth-child(1) {
        margin-top: 20px;
    }
}
